<div class="container">
  <div class="text-center">
    <h1 class="display-4">Delivery</h1>
    <h5>Free delivery on orders exceeding R400</h5>
    <h6>R90 Delivery fee for orders under R400</h6>
  </div>
  <hr>

  <p class="lead">
    Our goal is to offer you free shipping with ease of mind, knowing your product is on its way to you.
  </p>
  <p>
     We offer free shipping services (on orders exceeding R400), no matter where in South Africa you live. Every day we deliver to numerous customers, so ensuring that we provide the very highest levels of responsiveness to you at all times, is of the utmost importance to us.
  </p>
  <p class="lead">
    The time frame for order delivery is divided into two parts:
  </p>
  <p><span class="text-bold">Processing time: </span>
    Order verification, tailoring, quality check and packaging. All orders are sent for dispatch within 48 hours after the order is placed. Processing orders for shipment may take another 1 - 2.
  </p>
  <p><span class="text-bold">Shipping time:</span>
   This refers to the time it takes for items to be shipped from our warehouse to the destination. Shipping times varies from city to city.</p>
   <p>Major cities are usually 1 - 2 days.</p>
   <p>Rural Areas are usually 3 - 5 days.</p>
</div>