<div class="container padding-top">
  <div class="text-center">
    <h1 class="display-4">Frequently Asked Questions</h1>
    <h5>If you have any questions do not hesitate to contact us</h5>
  </div>
  <hr>

  <div id="accordion">

    <div class="card">
      <div class="card-header">
        <a href="#faq1" class="card-link" data-toggle="collapse">
          Why does perfume smell different on different people?
        </a>
      </div>
      <div id="faq1" class="collapse show" data-parent="#accordian">
        <div class="card-body">
          <p class="text-muted small">Your own body chemistry affects how different notes react on your skin. Anything that affects the “natural” smell of your skin, such as stress, hormonal changes, your current diet or medications, might change how a perfume smells on you.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="#faq2" class="card-link" data-toggle="collapse">
          Why do I see people selling these as originals on original rejects?
        </a>
      </div>
      <div id="faq2" class="collapse" data-parent="#accordian">
        <div class="card-body">
          <span class="text-bold small text-muted">Honesty is the Best Policy</span><span class="small text-muted"> – Please note that there is only one shipment coming into South Africa. You might see allot of ads and people selling these perfumes claiming they are either original or only original rejects. *(This is all false information)* It is so easy to mislead someone, as these perfumes are boxed, sealed, barcoded and packaged exactly like the original and not many people know the actual facts about original rejected stock. Just as anything in life, you can’t expect something to be original with such a hugely discounted price. (If it seems too good to be true, it is).</span>

          <p class="text-muted small">You would also see that these people who are selling them as originals or original rejected stock all claim the same thing, they don’t last as long, a small defect might sometimes appear on some items, it will be boxed and sealed and it’s all mainly imported, that is because; what they are selling are the exact same perfume as these, coming from the same shipment.</p>

          <p class="text-muted small">If you do just a little research on this subject, you will very quickly learn that original rejected perfume will never come in a box and especially not sealed. If you are ever unsure if someone is ever selling a real original reject, first ask if it comes in a box or not…</p>

          <p class="text-bold text-muted small">IN SHORT:</p>

          <p class="text-underlined text-muted small">100% Original Reject Perfume</p>
          
          <ul>
            <li class="text-muted small">Will have some defects on bottle/label, caps etc.</li>
            <li class="text-muted small">Liquid inside will be 100% original.</li>
            <li class="text-muted small">The perfumes come without the packaging box.</li>
            <li class="text-muted small">If you see it being advertised as AAA Grade, it’s NOT an original reject.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="#faq3" class="card-link" data-toggle="collapse">
          What payment methods do you accept?
        </a>
      </div>
      <div id="faq3" class="collapse" data-parent="#accordian">
        <div class="card-body">
          <p class="text-muted small">We accept only EFT payments.</p>
          <p class="text-muted small">COD is not accepted as there is no way that the courier will first ask for cash before they deliver and then send that back to us.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="#faq4" class="card-link" data-toggle="collapse">
          How long does the smell last?
        </a>
      </div>
      <div id="faq4" class="collapse" data-parent="#accordian">
        <div class="card-body">
          <p class="small text-bold text-muted">This is a hard question.</p>

          <p class="text-muted small"><span class="text-bold">First:</span> It’s very important to note that these perfumes DOES NOT last as long as the original in store would. If you are used to the original and you can spend the amounts charged for the originals please don’t buy these at this price and expect the lasting power of the ones in store.</p>

          <p class="text-muted small"><span class="text-bold">Second:</span> Every single perfume is different and cannot be expected to have the same lasting power as some scents are meant to be lighter and some heavier. For example: Dolce & Gabbana Light Blue EDT is designed to be a lighter fragrance than Tom Ford’s Black Orchid.</p>

          <p class="text-muted small"><span class="text-bold">Third:</span> Your skin & diet plays a huge roll. We have had clients who bought the same perfume but the one said it lasts up to 7-8 hours on her skin, where the other said 30 minutes. Another example is: Some people tested the ORIGINALS and it didn’t even last 20 minutes before it was completely gone. It really depends from person to person.</p>

          <p class="text-muted small"><small class="text-bold">Fourth:</small> Heat maximizes perfume. Your neck, wrists, backs of knees, and other pulse points emit more heat than other parts of your body. And that heat actually activates and maximizes your perfume. There are times during the day where perfume might smell stronger than other times because of heat.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="#faq5" class="card-link" data-toggle="collapse">
          How do I track my order?
        </a>
      </div>
      <div id="faq5" class="collapse" data-parent="#accordian">
        <div class="card-body">
          <p class="text-muted small">We will contact you with a message containing the Courier Tracking Number for your order, along with the courier website details.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="#faq6" class="card-link" data-toggle="collapse">
          Do you have Testers?
        </a>
      </div>
      <div id="faq6" class="collapse" data-parent="#accordian">
        <div class="card-body">
          <p class="text-muted small">Unfortunately these perfumes does not have 5ml testers. These are not the Oil based perfumes that people mix at home, pour into 5ml, 30 ml, 50 ml, and 100ml glass bottles and then distribute. These perfumes are mainly imported and the manufacturer does not make 5ml testers.</p>
          <p class="text-muted small">If you go to Edgars/Dischem etc. you will see that they also do not have or use any 5ml testers but use the actual bottle as you would buy it as a tester.</p>
        </div>
      </div>
    </div>
    
  </div> <!-- end #accordion -->

</div> <!-- end .container -->