<div id="landing-page" class="h-100 row align-items-center">
  <div class="col text-center">
    <h1>Scents4Cents</h1>
    <h5>Top quality perfumes you know and love at affordable prices.</h5>
    <button id="main-btn" class="btn btn-outline-dark">ENTER WEBSITE</button>
  </div>
</div>