<div id="landing-page" class="h-100 row align-items-center">
  <div class="col text-center">
    <h1>Scents 4 Cents</h1>
    <h5>Affordable Perfumes</h5>
    <button id="main-btn" class="btn btn-outline-dark">ENTER WEBSITE</button>
  </div>
</div>