<div class="container">
  <div class="text-center">
    <h1 class="display-4">Ordering</h1>
    <h5>Free delivery on orders exceeding R400</h5>
    <h6>R90 Delivery fee for orders under R400</h6>
  </div>
  <hr>

</div>