/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
	color: #000;
}

a:hover {
 	color: #000;
 	text-decoration: none;
 }

.main-container {
	padding: 0;
}

h1, h2, h3 {
	font-family: 'Tangerine', cursive;
}

h4, h5, h6, p, button, a, span, li, input, textarea {
  font-family: 'Alegreya SC', serif;
}

.text-bold {
	font-weight: bold;
}

nav li a {
	font-size: 1.2rem;
	margin-left: 10px;
	margin-right: 10px;
}

.text-decoration-none,
.text-decoration-none:hover {
	text-decoration: none;
	color: #444;
}

.perfume-container {
	margin-bottom: 20px;
	padding-top: 20px;
}

.perfume-container:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	transition: 0.8s;
}

.perfume-container-text h6 {
	margin-bottom: 2px;
}

.perfume-container-text p {
	margin-bottom: 2px;
}

.perfume-price {
	margin-top: 20px;
	padding-bottom: 20px;
}

.perfume-show {
	border: 0.5px solid #DCDCDC;
}

.padding-top {
	padding-top: 30px
}

.perfume-show-image img {
	display: block;
	margin: auto;
}

.perfume-info-container {
	background-color: #DCDCDC;
	border-radius: 25px;
}

.perfume-info-container p {
	padding: 5px;
	margin-left: 10px;
}

footer {
	background-color: #343a40;
}

.copyright {
	padding: 5px;
	background-color: #BEBEBE;
}

#accordion {
	margin-bottom: 20px;
}