<div class="container padding">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <p class="lead">Disclaimer</p>
      <p class="small text-muted">These are proper alcohol based perfumes (Not Water or Oil based) which are boxed and sealed in the same packaging as the originals. They look and smell like the authentic perfume you know and love <span class="text-bold">(They just don’t last as long).</span> Please note that these are NOT original perfumes, they are AAA grade REPLICAS imported from Dubai. In certain cases, a little defect may be present on the product itself, however, some perfumes are 100% perfect where you would find no mistakes. Quality of packaging may differ.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <p class="lead">Terms and Conditions</p>
      <p class="small text-muted">By placing an order & paying for the order, you are offering to purchase the product subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price. Scent me Fragrances retains the right to refuse any request made by you, and by no means can this Terms & Conditions be changed without the consent of the owner. <span class="text-bold">No claims made on products and no false promises. To be ordered and bought at one’s own discretion and choice.</span> Terms & Conditions Apply…</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <p class="lead">Refunds</p>
      <p class="small text-muted">Due to the nature of our products we regret no returns, refunds or exchanges are accepted and no warranties are offered on any items. Please note that once your order has been processed, it may not be cancelled.</p>
    </div>
  </div>
</div>
<div class="text-center">
  <p class="small">&copy; Copyright 2019, Peacock Perfumes | All Rights Reserved.</p>
</div>