<!DOCTYPE html>
<html>

  <%= render 'layouts/header' %>

  <body>
    
    <%= render 'layouts/nav' %>

    <div class="container-fluid main-container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
